certifi==2019.9.11
chardet==3.0.4
freeze==1.0.10
future==0.18.2
huepy==0.9.8.1
idna==2.8
instabot==0.73.0
numpy==1.17.3
pandas==0.25.3
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
responses==0.10.6
schedule==0.6.0
six==1.13.0
tqdm==4.38.0
urllib3==1.25.7
